<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title><%= user.tag %> - Edit</title>
</head>
<body>
    <div class="container">
        <%- include("../part/nav.ejs") %>
        <div class="jumbotron bg-dark text-white mt-5 rounded">
            <center>
                <img src="<%= user.displayAvatarURL %>" draggable="false" alt="avatar" class="img-fluid mr-5" style="border-radius: 50%;">
                <br><br><br>
                <h1><%= user.username %><i style="color: #99AAB5;">#<%= user.discriminator %></i></h1>
                <br>
                <div class="jumbotron bg-dark text-white">
                    <form method="POST">
                        <div class="form-group">
                            <label for="bio">Bio</label>
                            <input type="text" class="form-control rounded" id="bio" name="bio" placeholder="Mysterious User..." value="<%= bot.db.get(`bio_${user.id}`) || '' %>">
                        </div>
                        <div class="form-group">
                            <label for="github">Github Username</label>
                            <input type="text" class="form-control rounded" id="github" name="github" placeholder="Snowflake107" value="<%= bot.db.get(`github_${user.id}`) || '' %>">
                        </div>
                        <div class="form-group">
                            <label for="twitter">Twitter</label>
                            <input type="text" class="form-control rounded" id="twitter" name="twitter" placeholder="DevSnowflake" value="<%= bot.db.get(`twitter_${user.id}`) || '' %>">
                        </div>
                        <button type="submit" class="btn btn-outline-info rounded" style="width: 100%;">Submit</button>
                    </form>
                </div>
            </center>
            <hr>
        </div>
        <%- include("../part/footer.ejs") %>
    </div>
</body>
</html>